<div class="content center-block">

  <!--<div class="row">

    <div class="col-md-3">
    <div class="newsimg" ng-click= "issue2 = true">

      <img src="/img/news.png" class="news-img-style">
      <p class="inline-style para-padding">ADA Herald issue2</p>  
    </div>
    </div>

    <div class="col-md-3">
    <div class="newsimg" ng-click= "issue2 = false">

      <img src="/img/news.png" class="news-img-style">
      <p class="inline-style para-padding">ADA Herald issue3</p>            
    </div>
    </div>
   
    <div class="col-md-3">
    <div class="newsimg" ng-click= "issue2=false" >

      <img src="/img/news.png" class="news-img-style">
      <p class="inline-style para-padding">ADA Herald issue4</p>            
    </div>
    </div>

    <div class="col-md-3">
    <div class="newsimg" ng-click="issue2=false">

      <img src="/img/news.png" class="news-img-style">
      <p class="inline-style para-padding">ADA Herald issue5</p>
    </div>
    </div>

  </div> -->

  <div class="row center-block">
    <div class="col-md-12 text-align text-center" >
      
      <!--<h2 class="text-primary text-center"> Coming Soon</h2>-->
          <img src="/img/coming_soon.png" style="width: 40%; padding: 40px 0px">
      <!--
      <h3>Summary of the day</h3>
        <p>Day 4 at the at the American Diabetes Association's 76th Scientific Sessions saw presentations highlighting the efficacy of Dipeptidyl              peptidase-4 (DPP4) inhibitors and some on pioglitazone.</p>
        <h3>More on DPP4 inhibitors</h3>
        <p class="sub-heading">Linagliptin Effectiveness on Endothelial Function1</p>
        <p>Cardiovascular safety trials are underway for linagliptin, a DPP-4 inhibitor. Vascular endothelial dysfunction is one of the
          earliest predictive factor cardiovascular dysfunction. Flow mediated dilation (FMD) is, a non-invasive method, used for assessing
          the vascular endothelial function.</p>
        <p>A multi-center, prospective, controlled, open, and randomized three arms parallel study was carried out to assess the effect of
          linagliptin on vascular endothelial function. Patients (n = 96) with T2DM (moderate hyperglycemia) and on metformin 750 mg were
          randomized to A) continuing Met 750mg, B) Met 1500mg, and C) Met 750mg supplemented with Lina 5mg, and treated for 16 weeks..</p>
        <p>The FMD was significantly (p&lt;.05) improved in the group C from baseline to 16 weeks compared to the other 2 groups that did
          not show any changes. HbA1c at 16 weeks was significantly lower in group B and C compared to group A.</p>
        <p>In conclusion, linagliptin had positive effects on vascular endothelial function in addition to providing glycemic control.</p>
        <p class="sub-heading">Renal Effects Liraglutide or Sitagliptin2,3</p>
        <p>There is some evidence suggesting the renoprotective effect of GLP-1 inhibitors;however, there are also reports of acute injury
          with the use of GLP-1 inhibitors. Further, there are no long-term studies of these agents on renal physiology in T2DM patients.</p>
        <p>A randomized, double-blind, placebo-controlled trial in T2DM patients with normal renal function received 12-week treatment with
          the GLP-1 receptor agonist liraglutide (1.8 mg QD), the DPP-4 inhibitor sitagliptin (100 mg QD) or matching placebos. Patients were
          assessed for GFR (primary endpoint) and effective renal plasma flow. Filtration fraction (FF) and effective renal vascular resistance
          (ERVR) were also calculated, and glomerular hydrostatic pressure (PGLO) and afferent (RA) and efferent (RE) arteriolar resistance were
          estimated as well.</p>
        <p>A total of 55 patients were included after 12 weeks of treatment. None of the drugs affected the primary endpoints or other renal
          safety parameters. HbA1c was significantly reduced in the liraglutide and sitagliptin group. A significant decrease in systolic blood
          pressure was seen in the liraglutide group.</p>
        <p>In conclusion, the liraglutide and sitagliptin had a favorable renal safety profile with glycemic control and liraglutide also
          showed modest antihypertensive effect.</p>
        <h3>Studies on pioglitazone</h3>
        <p class="sub-heading">Renal Function Preservation with Pioglitazone4</p>
        <p>Both insulin and insulin sensitizers are found to be effective in controlling hyperglycemia in experimental and clinical studies;
          however, certain clinical outcomes may vary owing to a different pharmacological characteristics and actions of these agents. A study
          was carried out to compare the changes in renal function of add-on pioglitazone vs. basal insulin in patients inadequately controlled
          by metformin or sulfonylurea therapy.</p>
        <p>Patients on pioglitazone or insulin add-on therapy for at least 2 years were included for the study. A total of 1002 patients were
          identified and 105 patients with matched baseline characteristics were selected in each group (pioglitazone or basal insulin
          comprising of detemir or glargine).</p>
        <p>During the follow-up period of 3.3 years, a significant reduction in HbA1c was seen in the pioglitazone group compared to the
          detemir group (p&lt;.05); however, there was a significant body weight increase in the pioglitazone group compared to detemir group.
          The A1c reduction and body weight were comparable between pioglitazone vs. glargine and glargine vs. detemir. Pioglitazone demonstrated
          preservation of renal function compared to the other 2 basal insulin groups. Further, cox-regression analysis showed that patients on
          basal insulin had higher probability of progression of chronic kidney disease compared to the pioglitazone group with a HR of 2.63
          and 3.13 for detemir and glargine, respectively.</p>
        <p>The study concluded that pioglitazone due to its favorable renal profile may be a more suitable option for add-on therapy compared
          to basal insulin.</p>
        <p class="sub-heading">Combined Intervention with Pioglitazone and n-3 Fatty Acids5</p>
        <p>The effect of the eicosapentaenoic (EPA) and docosahexaenoic (DHA) on glucose homeostasis in T2DM patients remains unclear.
          A double-blind, placebo-controlled trial study was carried out to determine the combined effect of pioglotazone and EPA+DHA were
          assessed in patients on metformin therapy.</p>
        <p>A total of 69 patients were included in the study and were randomized to (i) corn oil (5 g/day; Placebo), (ii) pioglitazone
          (15 mg/day; Pio), (iii) EPA+DHA (2.75 g/day; n-3), or (iv) pioglitazone and EPA+DHA (Pio+n-3). Analysis of metabolic markers and
          cytokines, hyperinsulinemic-euglycemic clamp, meal test and indirect calorimetry were performed at baseline and after the
          intervention.</p>
        <p>The final analysis included 60 patients. Insulin sensitivity was not affected by the n-3, while it was improved in the Pio+n-3
          group. Lipid clearance in the meal test was significantly improved in the Pio+n-3 group (p&lt;.04). Addition of n-3 increased the
          fasting plasma glucose and theHbA1c levels from baseline, however, it remained unchanged in the Pio+n-3 group. An increase in the
          BMI was seen in the Pio and Pio+n-3 group</p>
        <p>Piglitazone antagonizes the modest negative effect of n-3 fatty acids on glycemic control, and the combination of pioglitazone
          and EPA + DHA may be used to improve metabolic flexibility and lipid metabolism in T2D patients on stable metformin therapy.</p>
        <p class="sub-heading">References:</p>
        <ol>
          <li>Shigiyama F, Kumashiro N, Miyagi M, et al. Poster presented at: 76th ADA Scientific Sessions; June 10-June 14,
            2016: New Orleans, Louisiana. Abstract 1088P.</li>
          <li>Tonneijck L, Smits MM, Muskiet MH, et al. Poster presented at: 76th ADA Scientific Sessions; June 10-June 14,
            2016: New Orleans, Louisiana. Abstract 1089P.</li>
          <li>Prasad-Reddy L, Isaacs D. A clinical review of GLP-1 receptor agonists: efficacy and safety in diabetes and beyond. Drugs
            Context. 2015;4. doi:10.7573/dic.21228.</li>
          <li>Hung CY, Wei HD, Ming CD, et al. Poster presented at: 76th ADA Scientific Sessions; June 10-June 14, 2016: New Orleans,
            Louisiana. Abstract 559P.</li>
          <li>Veleba J, Kopecky J, Janovska P et al. Poster presented at: 76th ADA Scientific Sessions; June 10-June 14, 2016: New Orleans,
            Louisiana. Abstract 773P.</li>
        </ol>
        -->
    </div>
  </div>
</div>

