<div class="login-form-container">

  <div class="row">
    <div class="col-md-12" style="padding: 20px 35px">
      <div class="intarcia-logo">
          <div class="secondary-logo pull-right">
            <img class="pull-right" src="/img/intarcia.png"/>
          </div>
      </div>
    </div>
  </div>  

  <div class="row" style="padding-top: 45px">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="panel panel-default">
          <form method="POST" name="userForm"
                ng-submit="$ctrl.onSubmit($ctrl.credentials)"
                novalidate
                ng-class="{error: $ctrl.errorMsg}">


                <div class="form-group error-msg">
                  <span >{{$ctrl.errorMsg}}</span>
                </div>

                <div class="form-group" >
                  <label style="font-family: sans-serif; font-weight: 700;">Login to Your Account</label><br>
                  <input type="text" name="uName" ng-model="$ctrl.credentials.username"
                         class="form-control userName" placeholder="Username" required />
                  <span class="field-error"
                        ng-show="userForm.uName.$touched">
                    <span ng-show="userForm.uName.$error.required">Username is required.</span>
                  </span>
                </div>

                <div class="form-group">
                  <input type="password" name="uPassword"
                         ng-model="$ctrl.credentials.password"
                         class="form-control password" placeholder="Password" required />
                  <span class="field-error" ng-show="userForm.uPassword.$touched">
                    <span ng-show="userForm.uPassword.$error.required">Password is required</span>
                  </span>
                </div>
                <div class="form-group">
                  <a href="#" class="pull-right" style="font-size: smaller; margin-bottom: 10px; color: #ccc">Forgot password ?</a>
                </div>

                <div class="form-group">
                  <input type="submit"
                         ng-disabled="userForm.uName.$error.required || userForm.uPassword.$error.required || $ctrl.viewSubmit"
                         class="btn btn-primary"
                         value="{{$ctrl.loadingText}}" style="width: 100%; background: #2196f3;" />
                </div>
              </form>
        </div>

        <div class="login_bg">
          <img class="primarylogo" src="/img/summary_icons/tacktion_logo_white.png" />
          <p>Tracking intelligence for actionable insights</p>
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>  
</div>
