<ul class="nav nav-tabs">
  <li ng-class="{active: $ctrl.activeTab === tabName}"
      ng-repeat="tabName in $ctrl.tabsOrder">
    <a ui-sref="{{ $ctrl.stateName +
                   '({tabName: tabName,
                      state: $ctrl.tabs[tabName].state
                    })'
                }}">
      {{ $ctrl.tabs[tabName].title }}
    </a>
  </li>
</ul>

<div class="tabs-content">
  <!-- Description for Clinical Trail Summary starts here -->
  <div class="tab-pane clinical-trail-summary" role="tabpanel" 
    ng-if="$ctrl.activeTab === 'Clinical Trail Summary' ">
    <h3></h3>
    <div class="clinical-trail-summary-data center-block">
      <!-- Description of Clinical-trail-summary-->
      <div class="row">
        <div class="filter-container form-inline text-center">
          <form  name="filterform" ng-model="filter" novalidate>
            <div class="filter-item">
              <select multiple class="form-control" id="select5" ng-model="filter.status"
                      ng-change="">
                <option value="">Select Status</option>
                <option value="all" >All</option>
                <option ng-repeat="status in $ctrl.filterkeys['trail_status']">{{status}}</option>
              </select> 
            </div>
            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.drug_class" 
                      ng-change="" >
                <option value=""> Select Drug Class</option>
                <option value="all" >All</option>
                <option ng-repeat="drug_class_key in $ctrl.filterkeys['drug_class']">{{drug_class_key}}</option>
              </select> 
            </div>
            <div class="filter-item">
              <select  multiple class="form-control" ng-model="filter.drug_name" 
                      ng-change="">
                <option value=""> Select by Drug</option>
                <option value="all" >All</option>
                <option ng-repeat="drug_t in $ctrl.filterkeys['drug_name']">{{drug_t}}</option>
              </select> 
            </div>

            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.end_date" 
                      ng-change="">
                <option value=''> End Date</option>
                <option value="all">All</option>
                <option ng-repeat="year in $ctrl.filterkeys['year_list']">{{year}}</option>
               </select>
            </div>
            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.location"
                      ng-change="">
                <option value=''> Select Location</option>
                <option value="all">All</option>
                <option ng-repeat="country in $ctrl.filterkeys['countries']">{{country}}</option>
              </select>
            </div>
            <div class="filter-item">
                <button type="submit" class="btn btn-primary"  ng-click="$ctrl.filterformsubmit(filter)">Search</button>
            </div>
          </form>

        </div>
      </div>

      <div class="row">
        <div class="summary-container">
         <table class="table table-responsive drugtable center-block">
           <thead>
             <tr class="drugtr">
               <th class="drugth" colspan="2">Drug</th>
               <th class="druginnertable">
                 <table class="table table-bordered table-responsive">
                   <thead>
                     <tr>
                       <th colspan="4" > 2014 <br><-</th>
                       <th colspan="4" class="text-center">2014</th>
                       <th colspan="4" class="text-center">2015</th>
                       <th colspan="4" class="text-center">2016</th>
                       <th colspan="4" class="text-center">2017</th>
                       <th colspan="4" class="text-center">2018</th>
                       <th colspan="4" class="text-center">2019</th>
                       <th colspan="4" class="text-center">2020</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td colspan="4" class="extraspace">...</td>
                       <td class="qtr">1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                     </tr>
                   </tbody>
                 </table>
               </th>
             </tr>
           </thead>
           <tbody>
             <table class="table center-block drugrow1table">
               <tbody>
                 <tr ng-repeat="trialdrug in $ctrl.clinical_summary | filter:drugName">
                   <td class="main_row text-center" > {{trialdrug.drug_name}}</td>
                   <td class="inside-trail-td">
                   <table class="table trail-detail-data">
                     <tbody>
                       <tr ng-repeat="trial in trialdrug.trial_data">
                         <td class="trail">
                           <div class="status-prgbar-container{{trial.nct_id}}">
                               <!-- status -->
                               <div class="status completed"  ng-show="{{trial.trial_status=='Completed'}}">C</div>
                               <div class="status recruiting" ng-show="{{trial.trial_status=='Recruiting'}}" >R</div>
                               <div class="status ongoing" ng-show="{{trial.trial_status=='Ongoing'}}">O</div>
                               <!-- status end -->
                               <!--progress bar -->
                               <div class="prog-bar prgbar{{trial.nct_id}}">
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="70" 
                                              aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                  </div>
                                </div>
                                <div class="yellowbar"></div> 
                               </div>
                               <!-- progress bar end-->
                           </div>
                           <!-- badges and countries -->
                           <div class="full-results" ng-hide="{{trial.results==''}}"><i class="fa fa-star" aria-hidden="true"></i></div>
                           <div class="countries" >
                             <div class="flag" ng-repeat="country in trial.countries" ng-class="{'flag-us':country=='USA','flag-us':country=='US',
                                'flag-eu':country=='Europe','flag-na':country=='North America','flag-as':country=='Asia',
                                'flag-ca':country=='Canada','flag-ko':country=='Korea','flag-tu':country=='Turkey',
                                'flag-as':country=='Philippines','flag-sa':country=='South America','flag-ch':country=='China',
                                'flag-ja':country=='Japan','flag-ta':country=='Taiwan'}"></div>
                           </div>
                           <!-- badges and countries end-->
                           <p style="float:right"><a href="{{trial.source}}">{{trial.nct_id}}</a>
                            <span ng-show="trial.othername!=''"> {{"("+trial.othername+");"}}</span>
                            <span ng-show="trial.phase!=''"> {{"Phase: "+trial.phase+";"}}</span>
                            <span ng-show="trial.patient_number!=''"> {{"N="+trial.patient_number+";"}}</span>
                            <span ng-show="trial.truncated_title!=''">{{trial.truncated_title}}</span>
                           </p>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   </td>
                 </tr>
               </tbody>
             </table>
             
          <div class="legend">
            <div class="item">
             <div class="status completed">C</div>
               <p class="center-align">Completed</p>
             </div>
             <div class="item">
               <div class="status ongoing">O</div>
               <p class="center-align">Ongoing</p>
             </div>
             <div class="item">
               <div class="status recruiting">R</div>
               <p class="center-align">Recruiting</p>
             </div>
             <div class="item">
               <div class="prim-date align-style"></div>
               <p class="para-align">Primary Completion Date</p>
             </div>
             <div class="item">
                <div class="full-results"><i class="fa fa-star" aria-hidden="true"></i></div>
                <p>Results</p>
             </div>
           </div> 
        </div>
      </div>
    </div>
  </div>
  <!-- Description of Clinical Trail summary ends here -->
  <!-- Description of Clinical Data starts here -->
  <div class="tab-pane clinical-data text-justify" role="tabpanel" 
    ng-if="$ctrl.activeTab === 'Clinical Data' ">

    <h3></h3>
    <table class="table table-bordered table-striped center-block">
      <thead>
	<tr>
	  <th>Sl.No</th>
	  <th>Drug</th>
	  <th>NCTID (Trial Name)</th>
	  <th>Phase</th>
	  <th>Start Date/PCD</th>
	  <th>Sample size</th>
	  <th>Primary Endpoint</th>
	  <th>Results</th>
	  <th>Summary</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>1</td>
	  <td>Lixisenatide</td>
	  <td>NCT01798706 (GETGOAL-O)</td>
	  <td>III</td>
	  <td>Jun'13/Feb'15</td>
	  <td>350</td>
	  <td>Change in HbA1c From Baseline</td>
	    <td>
	      <ul>
		<li>Mean HbA1c at baseline:  8%</li>
		<li>Mean change in HbA1c from baseline to Week 24: -0.64%</li>
		<li>Safety profile consistent with other studies of drug</li>
	      </ul>
	    </td>
	    <td>Trial met primary endpoint. No unexpected safety findings1</td>
	  </tr>
	  <tr>
	    <td>2</td>
	    <td>Albiglutide</td>
	    <td>NCT02683746</td>
	    <td>III</td>
	    <td>Mar'16/May'17</td>
	    <td>300</td>
	    <td>Change from baseline in HbA1c at Wk 26</td>
	    <td>
	      <ul>
	         <li>Trial ongoing</li>
	      </ul>
	     </td>
	     <td>Trial ongoing2</td>
	   </tr>
	   <tr>
	     <td>3</td>
	     <td>Dulaglutide</td>
	     <td>NCT01648582</td>
	     <td>III</td>
	     <td>Jul'12/Aug'14</td>
	     <td>789</td>
	     <td>Change from baseline in HbA1c at Wk 26</td>
	     <td>
		<ul>
		  <li>Mean change at Week 26:-1.70  (0.067) for 1.5mg 
			   Dulaglutide Vs -1.15  (0.067) for insulin glargine
		  </li>
		</ul>
	     </td>
	     <td>Trial met primary endpoint3</td>
	   </tr>
	   <tr>
	     <td>4</td>
	     <td>Semaglutide</td>
	     <td>NCT01720446</td>
	     <td>III</td>
	     <td>Feb'13/Ma'16</td>
	     <td>3297</td>
	     <td>Noninferiority of major cardiovascular events</td>
	     <td>
	       <ul>
		 <li>Patients receiving drug showed 26% lower risk of first 
			   occurrence of CV death, nonfatal MI, or stroke compared
		        with those receiving placebo
                 </li>
		 <li>Vitreous hemorrhage, blindness occurred in 3% of patients 
                  on the active drug compared with 1.8% of the placebo
		        group
                 </li>
	       </ul>
	     </td>
	     <td>Trial met primary endpoint, showed statistically significant reduction in CV risk4</td>
	   </tr>
	 </tbody>
       </table>
     
     </div>
  <!-- Description of Clinical Data ends here -->
  <!-- News Data starts Here -->
  <div class="tab-pane news center-block text-justify " role="tabpanel" 
    ng-if="$ctrl.activeTab === 'News' ">
    <div class="widget">
 
      <div class="title">
        <h3>Diabetes Newsletter (13th-17th July)</h3>
      </div>

      <div class="content">
	<p>According to The Centers for Disease Control and Prevention there are about 24 million people in US with diabetes,
	   out of which nearly 18 million people are diagnosed and the remaining 6 million people remain undiagnosed. It is also
	   reported that majority of the people suffer from type 2 diabetes. Type 1 diabetes is only about 10% of the overall
	   diabetes population. It is observed that the prevalence of diabetes is increasing over the years. Lifestyle disorders
	   mainly obesity is the most important contributing factor. Prevalence of type 2 diabetes is high in Europe and even
	   there obesity is considered as the main reason for increasing prevalence.
        </p>
	<p class="brown-font">
          <b>This the first trial to assess effect of coadministration of a GLP-1 receptor agonist /SGLT-2 
	     inhibitor
          </b>
        </p>
        <p class="sub-heading"><span>DURATION-8 Study Details</span></p>
        <p>The study was a 28 week, multicentre, double-blind, randomised, active-controlled phase 3 trial done at 109 sites
	  in six countries</p>
	<p class="sub-heading"><span>Efficacy</span></p>
	<ul>
	  <li><p>In the study, T2D adults with stable metformin therapy received receive once-weekly exenatide 2 mg plus
	    once-daily dapagliflozin 10 mg oral tablets for 28 weeks</p></li>
	    <li><p>Exenatide plus dapagliflozin significantly reduced HbA1c from baseline to week 28 compared with exenatide
	    alone (-0.4% [95% CI -0.6 to -0.1]; p=0.004) or dapagliflozin alone (-0.6% [-0.8 to -0.3]; p&lt;0.001).</p></li>
	</ul>
	<table class="table table-bordered">
	  <tbody>
	    <tr>
	      <td></td>
	      <td>exenatide plus dapagliflozin</td>
	      <td>exenatide</td>
	      <td>dapagliflozin</td>
	    </tr>
	    <tr>
	      <td>Change in baseline HbA1c at 28 weeks</td>
	      <td>-1.95% (95% CI -2.1 to -1.8)</td>
	      <td>-1.58% (-1.8 to -1.4)</td>
	      <td>-1.37% (-1.6 to -1.2)</td>
	    </tr>
	    <tr>
	      <td>Body weight reduction (kg)</td>
	      <td>-3.4</td>
	      <td>-1.5</td>
	      <td>-2.2</td>
	    </tr>
	    <tr>
	      <td>Systolic blood pressure reduction in mmHg</td>
	      <td>-4.2</td>
	      <td>-1.3</td>
	      <td>-1.8</td>
	    </tr>
	  </tbody>
	</table>

	<p class="sub-heading brown-font"><span>Other pipeline updates</span></p>
        <p>The diabetes pipeline indicates that there are around 150 molecules in different phases of development.  The late
	  stage molecules are follow up drugs such as ertugliflozin (PF-04971729) which is a SGLT-2 inhibitor and combination
	  therapies with ertugliflozin as seen in the Pfizer and Merck pipeline. Novo Nordisk has semaglutide in phase 3 which is
	  a GLP-1 medicine but with weekly one dose.  The drug will be the fourth drug in the market for weekly once dosing apart
	  from Trulicity, Tanzeum and Bydureon. In its trials the drug has proved that it can reduce heart risks and stroke by 26%.
	  This drug is expected to drive the growth of the company in the future since its blockbuster drug Victoza will lose its
	  market share against Trulicity. The company is also conducting trials for oral semaglutide which would be taken daily.</p>
	  
        <p>Some of the companies such as MedImmune, GSK, Roche, REMD Biotherapeutics, Navitas Pharma,   and IndiPharm ha
	  ve their molecules in early stages of development. </p>
	<p>Not only novel drugs and combinations but companies such as Medtronic and Qualcomm are working together to develop
	  future generation continuous glucose monitoring (CGM) systems that aim to improve health outcomes for people with diabetes.
	  Medtronic is a market leader in diabetes management and Qualcomm has expertise in developing reference designs for wireless,
	  single-use and small integrated modules. Using expertise from both the companies they are developing affordable, user
	  friendly and more accurate CGM systems.</p>
	<p>Apart from spending in research and development we even see that companies are going forward for mergers and
	  acquisitions to step ahead in the diabetes market. Such as OPKO Health has announced that it will acquire Transition
	  Therapeutics. This acquisition will help OPKO to gain access and also have first mover advantage to diabetes market with
	  novel drug GLP-1/Glucagon dual agonist for type 2 diabetes and obesity. The drug TT401 is a once or twice weekly
	  oxyntomodulin for type 2 diabetes and obesity and has recently completed phase 2 trials.</p>
	<p>Similarly Allergan has declared that it will acquire Motus Therapeutics (formerly known as Rhythm Health) for Motus'
	  ghrelin agonist, for the treatment of gastroparesis in patients with type 1 and type 2 diabetes.</p>
      </div>   
    </div>
  </div>
  <!-- News Data Ends Here -->
</div>
