<ul class="navs">
  <li ng-class="{active: $ctrl.activeTab === tabName}" ng-repeat="tabName in $ctrl.tabsOrder">
    <a ui-sref="{{ $ctrl.stateName +'({tabName: tabName, state: $ctrl.tabs[tabName].state})'}}">
      {{ $ctrl.tabs[tabName].title }}
    </a>
  </li>
</ul>

<div class="tabs-content">
  <!-- Description for Clinical Trail Summary starts here -->
  <div class="tab-pane clinical-trail-summary" role="tabpanel" 
    ng-if="$ctrl.activeTab === 'Clinical Trail Summary' ">
    <h3></h3>

    <div class="center-block clinical-trail-summary-data-select-first" ng-hide="$ctrl.select_first">
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-2">
            <div class="col-md-8 select_values"><p>Select Status</p></li></div>
            <div class="col-md-4 all_data"><p>All</p></li></div>
          </div>
          <div class="col-md-3">
            <div class="col-md-7 select_values"><p>Select Drug Class</p></li></div>
            <div class="col-md-5 all_data"><p>All</p></li></div>
          </div>
          <div class="col-md-3">
            <div class="col-md-6 select_values"><p>Select by Drug</p></li></div>
            <div class="col-md-6 all_data"><p>All</p></li></div>
          </div>
          <div class="col-md-2">
            <div class="col-md-7 select_values"><p>End Date</p></li></div>
            <div class="col-md-5 all_data"><p>All</p></li></div>
          </div>
          <div class="col-md-2">
            <div class="col-md-9 select_values"><p>Select Location</p></li></div>
            <div class="col-md-3 all_data"><p>All</p></li></div>
          </div>
        </div>
        
	<div class="filter-item">
	  <!--<button type="submit" class="btn btn-primary"  ng-click="$ctrl.filterformsubmit(filter)">Search</button>-->
	  <img class="pull-right" src="/img/summary_icons/track_weekly_funnel.png" style="width: 60px;position: absolute;height: 60px;cursor: pointer;bottom: -31px;right: 25px;" ng-click="$ctrl.click_toggle()">
	</div>
        
      </div>
    </div>

    <div class="center-block clinical-trail-summary-data" ng-hide="$ctrl.select_filter">
      <div class="row">
        <div class="text-center filter-container form-inline">

          <form name="filterform" ng-model="filter" novalidate="" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-not-empty">

          <!--
            <div class="filter-item">
              <select multiple class="form-control" id="select5" ng-model="filter.trail_status"
                      ng-change="">
                <option value="{{$ctrl.filterkeys['trail_status']}}">Select Status</option>
                <option value="{{$ctrl.filterkeys['trail_status']}}" >All</option>
                <option ng-repeat="status in $ctrl.filterkeys['trail_status']">{{status}}</option>
              </select>
            </div>
            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.drug_class" 
                      ng-change="" >
                <option value="{{ $ctrl.filterkeys['drug_class']}}"> Select Drug Class</option>
                <option value="{{ $ctrl.filterkeys['drug_class']}}" >All</option>
                <option ng-repeat="drug_class_key in $ctrl.filterkeys['drug_class']">{{drug_class_key}}</option>
              </select>
            </div>
            <div class="filter-item">
              <select  multiple class="form-control" ng-model="filter.drug_name" 
                      ng-change="">
                <option value="{{$ctrl.filterkeys['drug_name']}}"> Select by Drug</option>
                <option value="{{$ctrl.filterkeys['drug_name']}}" >All</option>
                <option ng-repeat="drug_t in $ctrl.filterkeys['drug_name']">{{drug_t}}</option>
              </select>
            </div>

            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.end_date" 
                      ng-change="">
                <option value="{{$ctrl.filterkeys['year_list']}}"> End Date</option>
                <option value="{{$ctrl.filterkeys['year_list']}}">All</option>
                <option ng-repeat="year in $ctrl.filterkeys['year_list']">{{year}}</option>
               </select>
            </div>

            <div class="filter-item">
              <select multiple class="form-control" ng-model="filter.location"
                      ng-change="">
                <option value="{{$ctrl.filterkeys['countries']}}"> Select Location</option>
                <option value="{{$ctrl.filterkeys['countries']}}">All</option>
                <option ng-repeat="country in $ctrl.filterkeys['countries']">{{country}}</option>
              </select>
            </div>
            -->

            
            
            <div class="filter-item">
              <h5>Select Status</h5>
              <label id="check_box_label">
                <input id="check_box" type="checkbox" ng-model="$ctrl.allSelected.trail_status" ng-click="$ctrl.toggleAll('trail_status')" ng-init="$ctrl.allSelected.trail_status=true"/> All 
              </label>
              <div ng-repeat="status in $ctrl.ang_dict['trail_status']">
                  <label id="check_box_label">
                    <input id="check_box" type="checkbox" ng-model="status.checked" ng-click="$ctrl.cbChecked('trail_status')"/>{{status.label}}
                  </label>
              </div>
            </div>

             <div class="vertical-row"></div>

               <div class="filter-item">
                <h5>Select Drug Class</h5>
                <label id="check_box_label">
                  <input id="check_box" type="checkbox" ng-model="$ctrl.allSelected.drug_class" ng-click="$ctrl.toggleAll('drug_class')" ng-init="$ctrl.allSelected.drug_class=true"/> All 
                </label>
                <div ng-repeat="drug_class_key in $ctrl.ang_dict['drug_class']">
                  <label id="check_box_label">
                    <input id="check_box" type="checkbox" ng-model="drug_class_key.checked" ng-click="$ctrl.cbChecked('drug_class')"/>{{drug_class_key.label}}
                  </label>
                </div>
             </div>

             <div class="vertical-row"></div>

            <div class="filter-item" style="width: 25%;" >
              <h5>Select by Drug</h5>
              <label id="check_box_label" style="width: 142px;">
                <input id="check_box" type="checkbox" ng-model="$ctrl.allSelected.drug_name" ng-click="$ctrl.toggleAll('drug_name')" ng-init="$ctrl.allSelected.drug_name=true"/> All
              </label>
              <div ng-repeat="drug_t in $ctrl.ang_dict['drug_name']">
                <label id="check_box_label" style="width: 142px;">
                  <input id="check_box" type="checkbox" ng-model="drug_t.checked" ng-click="$ctrl.cbChecked('drug_name')"/>
                  {{drug_t.label}}
                </label>
              </div>
            </div>

            <div class="vertical-row"></div>

            <div class="filter-item">
              <h5>Select End Date</h5>
              <label id="check_box_label">
                <input id="check_box" type="checkbox" ng-model="$ctrl.allSelected.year_list" ng-click="$ctrl.toggleAll('year_list')" ng-init = "$ctrl.allSelected.year_list=true"/> All 
              </label>
              <div ng-repeat="year in $ctrl.ang_dict['year_list']">
                <label id="check_box_label">
                  <input id="check_box" type="checkbox" ng-model="year.checked" ng-click="$ctrl.cbChecked('year_list')"/>{{year.label}}
                </label>
              </div>
            </div>
    
            <div class="vertical-row"></div>

            <div class="filter-item" style="width: 25%;">
              <h5>Select Location</h5>
              <label id="check_box_label" style="width: 142px;">
                <input id="check_box" type="checkbox" ng-model="$ctrl.allSelected.countries" ng-click="$ctrl.toggleAll('countries')" ng-init = "$ctrl.allSelected.countries=true"/> All 
              </label>
              <div ng-repeat="country in $ctrl.ang_dict['countries']">
                <label id="check_box_label" style="width: 142px;">
                  <input id="check_box" type="checkbox" ng-model="country.checked" ng-click="$ctrl.cbChecked('countries')"/>{{country.label}}
                </label>
              </div>
            </div>
            
            <div class="filter-item">
                <button type="submit" class="btn btn-primary"  ng-click="$ctrl.filterformsubmit(filter)" style="border-radius: 50px;width: 60px;position: absolute;height: 60px;bottom: -31px;right: 25px;"><img src="/img/summary_icons/tick.png"></button>
            </div>
	          
          </form>


    </div>
  </div>
</div>
</div>

<div class="col-md-6">
<ul id="legend" class="center-block ng-scope" ng-if="$ctrl.activeTab === 'Clinical Trail Summary' " >
  <li>
    <img src="/img/summary_icons/track_weekly_C.png" class="pull-left">
    <span class="center-align">Completed
    </span>
  </li>

  <li>
    <img src="/img/summary_icons/track_weekly_O.png" class="pull-left">
    <span class="center-align">Ongoing
    </span>
  </li>

  <li>
    <img src="/img/summary_icons/track_weekly_R.png" class="pull-left">
    <span class="center-align">Recruiting
    </span>
  </li>

  <li>
    <img src="/img/summary_icons/track_weekly_blue.png" class="pull-left">
    <span class="center-align">Primary Completion Date
    </span>
  </li>

  <li>
    <img src="/img/summary_icons/track_weekly_star.png" class="pull-left">
    <span class="center-align">Results
    </span>
  </li>

</ul>
</div>

<div class="">
  <!-- Description for Clinical Trail Summary starts here -->
  <div class="tab-pane clinical-trail-summary" role="tabpanel" ng-if="$ctrl.activeTab === 'Clinical Trail Summary' ">
    <h3></h3>

    <div class="clinical-trail-summary-data center-block table-responsive" style="overflow-y: hidden;">
      <div class="row">
        <div class="summary-container">
         <table class="table drugtable center-block" style="margin: 0px">
           <thead>
             <tr class="drugtr">
               <th class="drugth" colspan="2">Drug</th>
               <th class="druginnertable">
                 <table class="table table-bordered table-responsive">
                   <thead>
                     <tr>
                       <th colspan="4" class="text-center year"><img src="/img/summary_icons/track_weekly_left_arrow.png" class="pull-right" style="width: 4%;position: absolute;height: 50%;bottom: 23%;left: -2%;">2014</th>
                       <th colspan="4" class="text-center">2015</th>
                       <th colspan="4" class="text-center">2016</th>
                       <th colspan="4" class="text-center">2017</th>
                       <th colspan="4" class="text-center">2018</th>
                       <th colspan="4" class="text-center">2019</th>
                       <th colspan="4" class="text-center">2020</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td class="qtr">1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                       <td>1Q</td>
                       <td>2Q</td>
                       <td>3Q</td>
                       <td>4Q</td>
                     </tr>
                   </tbody>
                 </table>
               </th>
             </tr>
           </thead>
           <tbody>
             <table class="table center-block drugrow1table">
               <tbody >
                 <tr ng-repeat="trialdrug in $ctrl.clinical_summary | filter:drugName">
                   <td class="main_row text-center" > {{trialdrug.drug_name}}</td>
                   <td class="inside-trail-td">

                   <div id="vertical" style="display: none; width: 1px; height: 100%; z-index: 300; position: absolute;background-color: black;"></div>
                   <div id="horizontal"></div>
                   <table class="table trail-detail-data" ng-mouseover="$ctrl.vertical_line_appear()">
                     <tbody>
                       <tr ng-repeat="trial in trialdrug.trial_data">



                       
                         <td class="trail">
                           <div class="status-prgbar-container{{trial.nct_id}}" style="margin-top: 10px">
                               <!-- status -->
                               
                               <!-- status end -->
                               <!--progress bar -->

                               <div class="prog-bar prgbar{{trial.nct_id}}">
                                 <div class="progress">



                                    <div ng-show="{{trial.trial_status=='Completed'}}" class="progress-bar{{trial.nct_id}} completed" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">                           
                                      <div ng-show="{{trial.trial_status=='Completed'}}">
                                        <img style="margin-bottom: 10px;margin-left: 3px;" src="/img/summary_icons/alpha_c.png">
                                      </div>
                                    </div>



                                    <div ng-show="{{trial.trial_status=='Recruiting'}}" class="progress-bar{{trial.nct_id}} recruit" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                      <div ng-show="{{trial.trial_status=='Recruiting'}}" >
                                        <img style="margin-bottom: 10px;margin-left: 3px;" src="/img/summary_icons/alpha_r.png">
                                      </div>
                                    </div>



                                    <div ng-show="{{trial.trial_status=='Ongoing'}}" class="progress-bar{{trial.nct_id}} ongoing" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                      <div ng-show="{{trial.trial_status=='Ongoing'}}">
                                        <img style="margin-bottom: 10px;margin-left: 3px;" src="/img/summary_icons/alpha_o.png">
                                      </div>
                                    </div>


                                  </div>
                               </div>
                               <div class="yellowbar{{trial.nct_id}} yellowbar"></div> 
                               <!-- progress bar end-->
                           </div>
                           <!-- badges and countries -->
                           <div class="full-results" ng-hide="{{trial.results==''}}"><img src="/img/summary_icons/track_weekly_star.png" class="pull-left"></div>
                           <div class="countries" >
                             <div  ng-repeat="country in trial.countries" class="flag"><span style="text-transform: uppercase;"> {{country}} </span></div>
                           </div>
                           <!-- badges and countries end-->
                           <p><a class="id_link" href="{{trial.source}}">{{trial.nct_id}}</a>
                            <span ng-show="trial.othername!=''"> {{"("+trial.othername+");"}}</span>
                            <span class="trial_phase" ng-show="trial.phase!=''"><span>Phase:</span><span class="trial_phase_value">{{trial.phase+";"}}</span></span>
                            <span class="trial_phase" ng-show="trial.patient_number!=''"><span>N=</span><span class="trial_phase_value">{{trial.patient_number+";"}}</span></span>
                            <span class="truncated_title" ng-show="trial.truncated_title!=''">{{trial.truncated_title}}</span>
                            <span><a class="id_link" ui-sref='dashboard.trackweekly({tabName: "Clinical Data", state: "{\"id\": \"" + trial.nct_id + "\"}"})'>Read More</a></span>
                           </p>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   </td>
                 </tr>
               </tbody>
             </table>
          
             
          <div class="legend" style="display: none">
            <div class="item">
             <div class="status completed">C</div>
               <p class="center-align">Completed</p>
             </div>
             <div class="item">
               <div class="status ongoing">O</div>
               <p class="center-align">Ongoing</p>
             </div>
             <div class="item">
               <div class="status recruiting">R</div>
               <p class="center-align">Recruiting</p>
             </div>
             <div class="item">
               <div class="prim-date align-style"></div>
               <p class="para-align">Primary Completion Date</p>
             </div>
             <div class="item">
                <div class="full-results"><i class="fa fa-star" aria-hidden="true"></i></div>
                <p>Results</p>
             </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Description of Clinical Trail summary ends here -->
  <!-- Description of Clinical Data starts here -->
  <div class="tab-pane clinical-data text-justify" role="tabpanel" 
    ng-if="$ctrl.activeTab === 'Clinical Data' ">

    <h3></h3>
    <table class="table table-bordered table-striped center-block">
      <thead>
	<tr>
	  <th>Sl.No</th>
	  <th>Drug</th>
	  <th>NCTID (Trial Name)</th>
	  <th>Phase</th>
	  <th>Start Date/PCD</th>
	  <th>Sample size</th>
	  <th>Primary Endpoint</th>
	  <th>Results</th>
	  <th>Summary</th>
      <th>Report</th>
	</tr>
      </thead>
      <tbody>
	    <tr ng-repeat="trial in $ctrl.trials" ng-model="test=0">
          <td>
            {{$index + 1}}
          </td>
          <td>
            {{trial.drug_name}}
          </td>
          <td>
            {{trial.nct_id}}
          </td>
          <td>
            {{trial.phase}}
          </td>
          <td>
            {{trial.start_date}}
          </td>
          <td>
            {{trial.patient_number}}
          </td>
          <td>
            {{trial.primary_endpoint}}
          </td>
          <td> </td>
          <td> </td>
          <td><a href="http://176.9.181.46/nct/{{trial.nct_id}}.docx" target="_blank">Download Report</td>
        </tr>
	 </tbody>
       </table>
     
     </div>
  <!-- Description of Clinical Data ends here -->
  <!-- News Data starts Here -->
  <div class="tab-pane news center-block text-justify " role="tabpanel" 
    ng-if="$ctrl.activeTab === 'News' ">
    <div class="widget">
 
      <div class="title">
        <h3>Diabetes Newsletter (13th-17th July)</h3>
      </div>

      <div class="content">
	<p>According to The Centers for Disease Control and Prevention there are about 24 million people in US with diabetes,
	   out of which nearly 18 million people are diagnosed and the remaining 6 million people remain undiagnosed. It is also
	   reported that majority of the people suffer from type 2 diabetes. Type 1 diabetes is only about 10% of the overall
	   diabetes population. It is observed that the prevalence of diabetes is increasing over the years. Lifestyle disorders
	   mainly obesity is the most important contributing factor. Prevalence of type 2 diabetes is high in Europe and even
	   there obesity is considered as the main reason for increasing prevalence.
        </p>
	<p class="brown-font">
          <b>This the first trial to assess effect of coadministration of a GLP-1 receptor agonist /SGLT-2 
	     inhibitor
          </b>
        </p>
        <p class="sub-heading"><span>DURATION-8 Study Details</span></p>
        <p>The study was a 28 week, multicentre, double-blind, randomised, active-controlled phase 3 trial done at 109 sites
	  in six countries</p>
	<p class="sub-heading"><span>Efficacy</span></p>
	<ul>
	  <li><p>In the study, T2D adults with stable metformin therapy received receive once-weekly exenatide 2 mg plus
	    once-daily dapagliflozin 10 mg oral tablets for 28 weeks</p></li>
	    <li><p>Exenatide plus dapagliflozin significantly reduced HbA1c from baseline to week 28 compared with exenatide
	    alone (-0.4% [95% CI -0.6 to -0.1]; p=0.004) or dapagliflozin alone (-0.6% [-0.8 to -0.3]; p&lt;0.001).</p></li>
	</ul>
	<table class="table table-bordered">
	  <tbody>
	    <tr>
	      <td></td>
	      <td>exenatide plus dapagliflozin</td>
	      <td>exenatide</td>
	      <td>dapagliflozin</td>
	    </tr>
	    <tr>
	      <td>Change in baseline HbA1c at 28 weeks</td>
	      <td>-1.95% (95% CI -2.1 to -1.8)</td>
	      <td>-1.58% (-1.8 to -1.4)</td>
	      <td>-1.37% (-1.6 to -1.2)</td>
	    </tr>
	    <tr>
	      <td>Body weight reduction (kg)</td>
	      <td>-3.4</td>
	      <td>-1.5</td>
	      <td>-2.2</td>
	    </tr>
	    <tr>
	      <td>Systolic blood pressure reduction in mmHg</td>
	      <td>-4.2</td>
	      <td>-1.3</td>
	      <td>-1.8</td>
	    </tr>
	  </tbody>
	</table>

	<p class="sub-heading brown-font"><span>Other pipeline updates</span></p>
        <p>The diabetes pipeline indicates that there are around 150 molecules in different phases of development.  The late
	  stage molecules are follow up drugs such as ertugliflozin (PF-04971729) which is a SGLT-2 inhibitor and combination
	  therapies with ertugliflozin as seen in the Pfizer and Merck pipeline. Novo Nordisk has semaglutide in phase 3 which is
	  a GLP-1 medicine but with weekly one dose.  The drug will be the fourth drug in the market for weekly once dosing apart
	  from Trulicity, Tanzeum and Bydureon. In its trials the drug has proved that it can reduce heart risks and stroke by 26%.
	  This drug is expected to drive the growth of the company in the future since its blockbuster drug Victoza will lose its
	  market share against Trulicity. The company is also conducting trials for oral semaglutide which would be taken daily.</p>
	  
        <p>Some of the companies such as MedImmune, GSK, Roche, REMD Biotherapeutics, Navitas Pharma,   and IndiPharm ha
	  ve their molecules in early stages of development. </p>
	<p>Not only novel drugs and combinations but companies such as Medtronic and Qualcomm are working together to develop
	  future generation continuous glucose monitoring (CGM) systems that aim to improve health outcomes for people with diabetes.
	  Medtronic is a market leader in diabetes management and Qualcomm has expertise in developing reference designs for wireless,
	  single-use and small integrated modules. Using expertise from both the companies they are developing affordable, user
	  friendly and more accurate CGM systems.</p>
	<p>Apart from spending in research and development we even see that companies are going forward for mergers and
	  acquisitions to step ahead in the diabetes market. Such as OPKO Health has announced that it will acquire Transition
	  Therapeutics. This acquisition will help OPKO to gain access and also have first mover advantage to diabetes market with
	  novel drug GLP-1/Glucagon dual agonist for type 2 diabetes and obesity. The drug TT401 is a once or twice weekly
	  oxyntomodulin for type 2 diabetes and obesity and has recently completed phase 2 trials.</p>
	<p>Similarly Allergan has declared that it will acquire Motus Therapeutics (formerly known as Rhythm Health) for Motus'
	  ghrelin agonist, for the treatment of gastroparesis in patients with type 1 and type 2 diabetes.</p>
      </div>   
    </div>
  </div>
  <!-- News Data Ends Here -->
</div>
