tracksocial {
  
  div.tabs-content {
    overflow:auto;
  }

  ul.navs{
        display: flex!important;
              list-style: none!important;
        padding: 0px!important;
        margin-top: -5px!important;
        margin-bottom: 0px!important;
        background-color:#2196f3 !important;
          li {
             display:inline !important;
             width: 15% !important;
             word-break: break-word !important;
             text-align: center !important;
             background-color:#2196f3 !important;
             padding:18px !important;
             position:relative !important;
             
             &:hover {
                 background-color:#2196f3 !important;
                 cursor:pointer !important;
                 
                 &:after {
                   border-top:#2196f3 !important;
                 }
              }
                 &.active {
                   &:after {
                           width: 0 !important;
                           height: 0 !important;
                           border-left: 15px solid transparent !important;
                           border-right: 15px solid transparent !important;
                           border-top: 15px solid #2196f3 !important;
                           content: " " !important;
                           position: absolute !important;
                           bottom: -7px !important;
                           left: 45% !important;
                     z-index: 1 !important;
                           }
                       }
             a {
                padding: 0px !important;
                text-decoration: none !important;
                color:white !important;
               }
           }
        }


  div.widget {
    background-color:#fff;
    
    div.widget-title {
        background-color: #fff;
        color: #000;
        font-weight: 600;

        h3{
          padding:10px;
          font-size:18px;
        }
        span {
          a {
            color:#fff;

            img {
              width: 15px;
              margin-right: 15px;
            }
          }
          a:hover {color:#196090}
        }
    }

  }
 
  div.marketwatch-content {
    
    width:95%;
    margin-top:24px;
    overflow:auto;

    div.widget {

      div.news-first-row {
        min-height:200px;
        overflow-y:auto;
        overflow-x:hidden; 
          div.timeline-chart {
           height:250px;

          }
      }
       
      div.news-second-row {
        height:301px;
        overflow:auto;
      }
    
    }
    div.row-2 {
      margin-top:20px;
    }
   
    div.row3{
      margin-top:20px;
    }

    div.news-third-row {
       min-height:214px;
       margin-bottom:20px;

       div.wordclouddata {
          
         div.tagcloud {
	    
           padding:5px;
           min-height:220px;
  
           a { 
             display:inline-block;
             padding:5px;
             position: relative;
             margin-right:8px;
           }
           &> .diabetes-wordcloud-loading {
            margin-top:100px;
            font-weight:bold;
           }

         }
       }
    }
     
  }

  div.diabetes-world {
    width:95%;
    margin-top:24px;
    overflow:auto;
    margin-bottom:24px;
    
    div.geoloc {
      div.geoloc-content {
        min-height:400px;
        div.map {
          svg {
            position:relative;
            overflow:hidden;
            padding-left:100px;
          }
        }
        div.map-tooltip {
          div.tooltip-arrow {
            top:50%;
            left:0;
            margin-top:-5px;
            border-width:5px 5px 5px 0;
            border-right-color:#000;
            position:absolute;
            width:0;
            height:0;
            border-style:solid;
          }
          div.tooltip-inner {
            max-width:200px;
            padding:3px 8px;
            color:#fff;
            text-align:center;
            background-color:#000;
            border-radius:4px;
          }
        }
      }
    }

    div.source-distribution {
      div.source-dist-content {
         min-height:625px;

         div.source-chart-legend {
           table {
             margin:0px auto;
             min-width:50%;

             tr {
               cursor:pointer;
               padding: 0px 5px;

               td.color-code-td {
                 span {
                   display:inline-block;
                   width:16px;
                   height:12px;
                   border-radius:2px;
                 }
               }
               td.source-name {
                 span {
                   margin-left:5px;
                 }
               }
               td.source-count {
                 span {
                   margin-left:10px;
                 }
               }
             }
           }
         }
      }
    }

    div.genderclassification {
      div.gender-classify-content {
         min-height:250px;

         div.row {
          
           padding:25px;
         }
      }

    }

    div.wordcloud {
      div.word-cloud-content {
         div.tagcloud {
           min-height:300px;
           padding:5px;
          
           a {
             margin-left:5px;
             position:relative;
             padding:5px;
             display:inline-block;
               
           }
           &> .diabetes-wordcloud-loading {
            margin-top:140px;
            font-weight:bold;
          }
         }
      }
    }
   div.languages {
      min-height:150px;
      div.languages-content {
        div.influencers-rows {
          height:250px;
          overflow-y:scroll;
        }   
      }   
    }

    div.top-influencers {
      div.top-influencers-content {
        overflow:auto;
        height:300px;

        div.influencers-table {
          padding:5px;


        }  
      }
    }
     
  }

  div.intarcia {
    width:95%;
    margin-bottom:20px;
    
    
    div.number-widgets {
      margin-top:24px;

      div.commonwid{
        border-radius:6px;
        min-height:115px; 
        
        & .firstDiv {
          padding: 5px;

          & .imgDiv {
            margin-right: 10px;
            float: right;
            width: 60px;
            height: 60px;
            border-radius: 3px;
            margin-top: -15px;
            text-align: center;

            & img {
              padding-top: 12px;
              width: 35px;
            }
          }
        }

       div.value-block {
        display:inline-block;
        padding-left:10px;

        div.value-self {
          font-size: 28px;
        }
      
        div.value-sub {
          font-size:14px;
        }
       }
       
       div.block-footer {
          padding: 10px 10px;
          font-size: smaller;
          background-color: #fff;
          border-bottom-left-radius:6px;
          border-bottom-right-radius:6px;
       }

       &> img {
        display:inline-block;
        padding:10px;
       }

      }
    
      

      div.white-block {

        background-color:#fff;          
      }
  
      div.red-block{

        background-color:#fff;
      }

      div.lightgreen-block {
   
        background-color: #fff;
      }

      div.orange-block {

        background-color: #fff;
      }

    }

    div.timeline {
      min-height:300px;

      div.timeline-content {
        padding:10px;
        height:250px;
      }
      
    }

    div.source {
    
    div.source-content {

      div.source-chart-legend {
        table {
          margin:0px auto;
          margin-width:50%;
          
          tr {
            cursor:pointer;
            padding:0px 5px;

            a:hover { 
              color:#235276;
            }

            td.color-code-td {
            
              span.color-code {
               display:inline-block;
               width:16px;
               height:12px;
               border-radius:2px;
              }
              
            }

            td.source-count {

              span {
                margin-left:10px;
              }
            }

            td.source-name {
              span {
                margin-left:5px;
              }
            }
          
          }

          tr:hover {
            background-color:rgba(75, 170, 211, 0.55);
          }
        
        }
      }
    
    }
    
    }

    div.gender-classification {
      min-height:280px;

      div.gender-content {
        div.row {
          padding:25px;
        } 
      }
    }
    div.wordcloud {
      min-height: 310px;
      
      div.wordcloud-content {
         
        div.tagcloud {
          padding:5px;
          a{
           margin-left:5px;
           position:relative;
           display:inline-block;
           padding:5px;
           font-size: 14px !important;
           border: 1px solid;
           border-radius: 3px;
           margin-bottom: 5px;
           line-height: 11px;
          }
          &> .intarcia-wordcloud-loading {
            margin-top:150px;
            font-weight:bold;
          }
        }
      }
    }

    
    div.source{
      min-height:550px;
    }
    div.twitter-top-influencers {
      min-height:310px;
      div.twitter-top-influencer-content {
        div.influencers-rows {
         overflow-y:scroll;
         max-height:250px;

           .table>thead>tr>th {
              border-bottom: none !important;
            }

            .table>tbody>tr {
              
              &:nth-child(even) {
                  background: #F8FAFD;
              }

              &:nth-child(odd) {
                  background: #fff;
              }
              
                td {
                border-top: none !important;
              }
            }
        }
      }
    }
    div.languages {
      min-height: 310px;
      div.languages-content {
        div.influencers-rows {
          height:250px;
          overflow-y:scroll;
        }
      }
    }

  }

  .articlediv {
    width: 100%; 
    max-height: 500px; 
    overflow: auto;

    ul li {
      padding: 20px 10px; 
      overflow: hidden;
    }
    #heading {
      a{
        text-decoration:none;
      }
    }
    #link {
      a {
        color: green; 
        text-decoration:none; 
        font-size: 13px;
      }
    }
    #content {
      padding-top: 20px; 
      font-size: 13px; 
      line-height: 22px;
    }
    #timestamp {
      padding-top: 15px;
    }
  }

  .articleCount{
    margin-right: 25px;
    margin-top: 0px;
  }
  .modal-content {
    border: 7px solid #ccc !important;
  }
  .modal-lg{
    width: 750px !important;
  }
  .modal-body {
    padding: 0 0 10px 0;
  }

  .drugsDropdown {
    margin-left: 150px !important;
    width: 120px;
    position: absolute;
    margin-top: -23px !important;
    height: 28px !important;
  }
}

