tracksocial {
  
  div.tabs-content {
    overflow:auto;
  }

  div.widget {
    background-color:#fff;
    
    div.widget-title {
        background-color:@brand-primary;
        color:white;

        h3{
          padding:10px;
          font-size:18px;
        }
        span {
          a {color:#fff;}
          a:hover {color:#196090}
        }
    }

  }
 
  div.marketwatch-content {
    
    width:95%;
    margin-top:24px;
    overflow:auto;

    div.widget {

      div.news-first-row {
        min-height:200px;
        overflow-y:auto;
        overflow-x:hidden; 
          div.timeline-chart {
           height:250px;

          }
      }
       
      div.news-second-row {
        height:301px;
        overflow:auto;
      }
    
    }
    div.row-2 {
      margin-top:20px;
    }
   
    div.row3{
      margin-top:20px;
    }

    div.news-third-row {
       min-height:214px;
       margin-bottom:20px;

       div.wordclouddata {
          
         div.tagcloud {
	    
           padding:5px;
           min-height:220px;
  
           a { 
             display:inline-block;
             padding:5px;
             position: relative;
             margin-right:8px;
           }
           &> .diabetes-wordcloud-loading {
            margin-top:100px;
            font-weight:bold;
           }

         }
       }
    }
     
  }

  div.diabetes-world {
    width:95%;
    margin-top:24px;
    overflow:auto;
    margin-bottom:24px;
    
    div.geoloc {
      div.geoloc-content {
        min-height:400px;
        div.map {
          svg {
            position:relative;
            overflow:hidden;
            padding-left:100px;
          }
        }
        div.map-tooltip {
          div.tooltip-arrow {
            top:50%;
            left:0;
            margin-top:-5px;
            border-width:5px 5px 5px 0;
            border-right-color:#000;
            position:absolute;
            width:0;
            height:0;
            border-style:solid;
          }
          div.tooltip-inner {
            max-width:200px;
            padding:3px 8px;
            color:#fff;
            text-align:center;
            background-color:#000;
            border-radius:4px;
          }
        }
      }
    }

    div.source-distribution {
      div.source-dist-content {
         min-height:625px;

         div.source-chart-legend {
           table {
             margin:0px auto;
             min-width:50%;

             tr {
               cursor:pointer;
               padding: 0px 5px;

               td.color-code-td {
                 span {
                   display:inline-block;
                   width:16px;
                   height:12px;
                   border-radius:2px;
                 }
               }
               td.source-name {
                 span {
                   margin-left:5px;
                 }
               }
               td.source-count {
                 span {
                   margin-left:10px;
                 }
               }
             }
           }
         }
      }
    }

    div.genderclassification {
      div.gender-classify-content {
         min-height:250px;

         div.row {
          
           padding:25px;
         }
      }

    }

    div.wordcloud {
      div.word-cloud-content {
         div.tagcloud {
           min-height:300px;
           padding:5px;
          
           a {
             margin-left:5px;
             position:relative;
             padding:5px;
             display:inline-block;
               
           }
           &> .diabetes-wordcloud-loading {
            margin-top:140px;
            font-weight:bold;
          }
         }
      }
    }
   div.languages {
      min-height:150px;
      div.languages-content {
        div.influencers-rows {
          height:250px;
          overflow-y:scroll;
        }   
      }   
    }

    div.top-influencers {
      div.top-influencers-content {
        overflow:auto;
        height:300px;

        div.influencers-table {
          padding:5px;


        }  
      }
    }
     
  }

  div.intarcia {
    width:95%;
    margin-bottom:20px;
    
    
    div.number-widgets {
      margin-top:24px;

      div.commonwid{
        border-radius:6px;
        color:white;
        min-height:109px; 
        
       div.value-block {
        display:inline-block;
        padding-right:10px;
        padding-top:5px;

        div.value-self {
          font-size:25px;
        }
      
        div.value-sub {
          font-size:14px;
        }
       }
       
       div.block-footer {
          padding:10px;
          background-color:rgba(0, 0, 0, 0.3);
          border-bottom-left-radius:6px;
          border-bottom-right-radius:6px;
       }

       &> img {
        display:inline-block;
        padding:10px;
       }

      }
    
      

      div.white-block {

        background-color:#3498db;          
      }
  
      div.red-block{

        background-color:#d9534f;
      }

      div.lightgreen-block {
   
        background-color:rgb(26, 188, 156);
      }

      div.orange-block {

        background-color:rgb(241, 196, 15);
      }

    }

    div.timeline {
      min-height:300px;

      div.timeline-content {
        padding:10px;
        height:250px;
      }
      
    }

    div.source {
    
    div.source-content {

      div.source-chart-legend {
        table {
          margin:0px auto;
          margin-width:50%;
          
          tr {
            cursor:pointer;
            padding:0px 5px;

            a:hover { 
              color:#235276;
            }

            td.color-code-td {
            
              span.color-code {
               display:inline-block;
               width:16px;
               height:12px;
               border-radius:2px;
              }
              
            }

            td.source-count {

              span {
                margin-left:10px;
              }
            }

            td.source-name {
              span {
                margin-left:5px;
              }
            }
          
          }

          tr:hover {
            background-color:rgba(75, 170, 211, 0.55);
          }
        
        }
      }
    
    }
    
    }

    div.gender-classification {
      min-height:280px;

      div.gender-content {
        div.row {
          padding:25px;
        } 
      }
    }
    div.wordcloud {
      min-height:800px;
      
      div.wordcloud-content {
         
        div.tagcloud {
          padding:5px;
          a{
           margin-left:5px;
           position:relative;
           display:inline-block;
           padding:5px;
          }
          &> .intarcia-wordcloud-loading {
            margin-top:150px;
            font-weight:bold;
          }
        }
      }
    }

    
    div.source{
      min-height:550px;
    }
    div.twitter-top-influencers {
      min-height:300px;
      div.twitter-top-influencer-content {
        div.influencers-rows {
         overflow-y:scroll;
         max-height:250px;
        }
      }
    }
    div.languages {
      min-height:150px;
      div.languages-content {
        div.influencers-rows {
          height:250px;
          overflow-y:scroll;
        }
      }
    }

  }

  .articlediv {
    width: 100%; 
    max-height: 500px; 
    overflow: auto;

    ul li {
      padding: 20px 10px; 
      overflow: hidden;
    }
    #heading {
      a{
        text-decoration:none;
      }
    }
    #link {
      a {
        color: green; 
        text-decoration:none; 
        font-size: 13px;
      }
    }
    #content {
      padding-top: 20px; 
      font-size: 13px; 
      line-height: 22px;
    }
    #timestamp {
      padding-top: 15px;
    }
  }

  .articleCount{
    margin-right: 25px;
    margin-top: 0px;
  }
  .modal-content {
    border: 7px solid #ccc !important;
  }
  .modal-lg{
    width: 750px !important;
  }
  .modal-body {
    padding: 0 0 10px 0;
  }

  .drugsDropdown {
    margin-left: 150px !important;
    width: 120px;
    position: absolute;
    margin-top: -25px !important;
    height: 31px !important;
  }
}

